@import url("https://unpkg.com/css.gg@2.0.0/icons/css/mic.css");

html {
  margin: 0;
  font-family: "Poppins", sans-serif;
  height: 100vh;
}
body::-webkit-scrollbar {
  display: none;
  overflow: hidden;
}

body {
  margin: 0;
}

nav {
  width: 100%;
  position: sticky;
  background-color: #87ceeb;
  box-shadow: 0px 0px 10px rgba(54, 54, 54, 0.1);
}
nav .logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
nav .logo img {
  width: 120px;
  margin-left: 55px;
}
nav .logo span {
  font-size: 20px;
  margin-left: 55px;
  font-family: "Poppins", sans-serif;
  color: white;
  align-items: center;
  font-weight: 700 !important;
}

.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: white;
  transition: all 0.5s ease;
  border-left: #87ceeb 0.5px solid;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 250px;
  transform: translateX(100%);
  z-index: 1;
  margin-top: 65px;
  display: none;
}

.sidebar.open {
  transform: translateX(0); /* Bring sidebar into view */
}

.main-content.open {
  margin-right: 200px;
}

.sidebar .top-iconsheader {
  display: flex;
  width: 100%;
  height: 65px;
  align-items: center;
  border-bottom: #87ceeb 0.5px solid;
}
.sidebar .top-icons {
  width: 75%;
}
.sidebar .top-close {
  width: 15%;
  position: absolute;
  right: 0;
}
.sidebar .top-icons img {
  margin-left: 20px;
}
.sidebar .sidebar-header {
  width: 100%;
  border-bottom: #87ceeb 0.5px solid;
}

.sidebar .sidebar-headerclear {
  display: flex;
  width: 100%;
  align-content: left;
  justify-content: flex-end;
  border-bottom: #87ceeb 0.5px solid;
}

.main-content {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  min-height: 100vh;
  margin-right: 0;
  transition: margin-right 0.5s ease;
  background-color: #fffafa;
  flex-direction: column;
}

textarea {
  border: none;
  outline: none;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  width: 80%;
  z-index: 1;
}

.container-service {
  display: flex;
  flex-direction: column;
  width: 80%;
  z-index: 1;
  align-items: center;
}
.box {
  position: relative;
  height: 300px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 45vw; /* Adjust width for larger screens */
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: 0;
  justify-content: center;
}

.box2 {
  position: relative;
  height: 300px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;

  align-items: center;
  padding: 20px;
  width: 45vw; /* Adjust width for larger screens */
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 0;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #333333;
  margin-left: 10px;
}

.upload-icon {
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.upload-icon img {
  width: 100px; /* Adjust the width as needed */
  margin-bottom: 10px;
}

.upload-file {
  border: 2px dashed #ccc; /* Initial border style */
  border-radius: 10px; /* Optional: Round corners */
  padding: 20px; /* Optional: Add padding for better visibility */
  transition: border 0.3s ease; /* Smooth transition for border change */
  height: 100%;
  z-index: 1;
}

.translate-button {
  display: flex;
  background-color: #87ceeb;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.2s ease-in-out;
  font-family: "Poppins", sans-serif;
  margin-top: 20px;
}

.translate-button:hover {
  background-color: #41aaf5; /* Change the background color on hover */
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  margin-bottom: 10px;
  margin-top: 70px;
}
.header button {
  margin-right: 10px;
  background-color: white;
  color: #6495ed;
  padding: 10px 20px;
  border-color: #d3d3d3;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 15px;
}
.header button img {
  vertical-align: middle;
}

.header-downloadfile-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  border: 2px #ccc; /* Add border style here */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.header-downloadfile {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 5px;
}
.header-downloadfile button {
  background-color: #fffafa;
  color: #6495ed;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  border: none;
  margin-right: 60px;
  vertical-align: middle;
}

.header-language {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
}

.language-selector-wrapper {
  display: flex;
  width: 50%;
  justify-content: center;
  padding: 20px;
}
.language-selector {
  display: flex;
  align-items: center;
  font-family: "Poppins";
  font-weight: 600;
  margin: 0;
  font-size: 20px;
  color: #333333;
  text-transform: capitalize;
}

.language-selector .label1 {
  font-weight: 600;
  margin: 0;
  font-size: 20px;
  color: #333333;
}

.language-selector span:hover {
  background-color: #e0e0e0; /* Adjust this color to your preference */
  padding: 10px; /* Add optional padding for better visual separation */
  border-radius: 2px; /* Add optional rounded corners for a smoother effect */
  cursor: pointer;
}
.language-selector span.active {
  text-decoration: underline; /* Add underline to clicked spans */
}
.upload-icontext {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.upload-icontext img {
  width: 30px;
  height: 30px;
  padding: 10px;
}
.header-downloadfile button img {
  vertical-align: middle;
  margin-right: 2px;
}
.browse-files-button {
  width: 100%;
  background-color: #87ceeb;
  color: white;
  border-color: #d3d3d3;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1em;
  padding-left: 100px; /* Increase padding on the left side */
  padding-right: 100px; /* Increase padding on the right side */
}

.filetype {
  font-size: 10px;
  align-self: flex-start;
}

.robot-section {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  position: absolute;
  bottom: 0;
}

.options {
  display: none;
  height: 100%;
  margin-left: 10px;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 0.8em;
}
.textinput {
  border: none;
  resize: none;
  width: 100%;
  min-height: 200px;
}

.custom-textfield {
  resize: none;
  border-radius: 10px;
  font-size: 16px;
  width: calc(
    100% - 40px
  ); /* Subtract any padding/margin from the parent container */
  height: 100%;
  vertical-align: top;
  padding: 5px; /* Add padding if needed */
}

.output-p {
  width: 100%;
  height: 100%;
}

.output-p p {
  border: none !important;
  outline: none !important;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
}

.container.drag-hover > .box,
.container.drag-hover > .box2,
.container.drag-hover > .box > .details {
  background-color: #e6effe; /* Or your desired highlight color */
  border: 2px solid #3080ea;
  border-radius: 10px; /* Adjust as needed */
}

.drop-text:after {
  /* Set desired text properties like color, font, and size */
  color: #3080ea; /* White color */
  font-size: 50px;
  font-weight: 400;
  text-align: center; /* Center the text horizontally */
  position: absolute; /* Position it relative to the container */
  top: 50%; /* Position it vertically at 50% */
  left: 50%; /* Position it horizontally at 50% */
  transform: translate(-50%, -50%); /* Adjust positioning as needed */
  opacity: 0; /* Initially hide the text */
  pointer-events: none;
}

.highlight-box:hover:after {
  opacity: 0; /* Show the text on hover */
}

.container.drag-hover .drop-text {
  opacity: 1; /* Show the text on hover */
}

.text-section {
  display: flex;
  width: 100%;
  flex-direction: column;
  min-height: 300px;
  font-size: 24px;
}

.text-section .customtextfield {
  height: 500px;
}

.customtextfield {
  resize: none;
}

textarea::-webkit-scrollbar {
  width: 0px;
}
.details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.details button {
  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
  color: crimson;
  border-radius: 50%;
}
.modalloading {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Make the entire modal transparent */
  justify-content: center;
  align-items: center;
  z-index: 2;
  border: none; /* Remove border for the modal */
}

.modal-contentloading {
  background-color: transparent; /* Make the content background transparent */
  border: none; /* Remove border for the content */
  text-align: center;
  z-index: 3;
}

/* Ensure the image is centered */
.modal-contentloading img {
  display: block;
  margin: 0 auto;
}
.modal-contentloading p {
  color: white;
  font-size: 26px;
}

.dict-div {
  width: 80%;
  display: flex;
  flex-direction: column;
  background-color: #fff;

  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  margin-bottom: 30px;
}
.dict-div-content {
  padding: 5px 20px;
}

.feedback {
  display: flex;
  width: 80%;
  justify-content: flex-end;
  margin-top: 5px;
}

.feedback button {
  border: none;
  cursor: pointer;
  background-color: #fffafa;
  font-style: italic;
  font-size: 14px;
}

.feedback button:hover {
  text-decoration: underline;
}

.tryagain {
  margin-top: 15px;
  background-color: #87ceeb;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
}

select {
  border: 10px;
  border-radius: 20px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  padding: 20px;
  width: 300px;
  font-weight: 300;
  display: flex;
  height: 55px;
  cursor: pointer;
  padding: 0 16px;
  border-radius: 8px;
  align-items: center;
  background: #fff;
}
option {
  text-transform: capitalize;
}
.mic-toggle.recording {
  /* Target the button with recording class */
  animation: pulse 1s ease-in-out infinite;
}

.feedback-sidebar {
  position: fixed;
  right: -300px; /* Move sidebar off-screen to the right */
  top: 0;
  width: 300px;
  background-color: #f5f5f5;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  visibility: hidden; /* Initially hidden */
  z-index: 3;
  height: 100vh;
}

.feedbackheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.feedbackheader button {
  border: none;
  cursor: pointer;
  padding: 20px;
  font-size: 20px;
  background-color: none;
}

.feedback-sidebar.active {
  /* Style for sidebar when opened */
  right: 0; /* Slide sidebar into view from the right */
  visibility: visible;
  display: flex;
}


.feedbackcontainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.feedbackcontainer input {
  border-radius: 10px;
}

.feedback-textfield {
  margin-top: 20px;
  width: 100%;
  position: relative;
}

.feedback-text{
  font-size: 1.5em;
  text-align: center;
}

.fback-msg{
  resize: none;
  width: 83%;
  border-radius : 10px;
}

.submit-fback{
  text-align: center;
}

.feedback-text{
  align-self: center;
}
.close-feedback{
  align-self: flex-end;
}

.feedback-text{
  text-align: center;
}
#contact-form{
  text-align: center;
}

.fback-input{
  width: 80%;
}


.feedbackheader {
  display: flex;
  justify-content: flex-end;
}


@media(max-width: 768px){
  .feedback-sidebar{
    width: 93%;
  }
}

@media only screen and (max-width: 768px){
  .feedback-sidebar{
    padding-left: 1em;
  }
}


.text-center {
  display: flex;
  justify-content: flex-end;
}
.no-resize {
  resize: none;
  width: 90%;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.input-form {
  margin-top: 20px;
}

.input-form input {
  border: 20px;
  padding: 10px;
}

@keyframes pulse {
  0% {
    background-color: rgba(255, 0, 0, 0.3);
    border-radius: 50%; /* Make it a circle */
    width: 180px;
    height: 180px;
  }

  100% {
    background-color: transparent; /* Back to transparent */
  }
}

@media only screen and (max-width: 960px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 80%;
    z-index: 1;
    align-items: center;
  }
  .language-selector-wrapper {
    width: 100%;
  }
  .language-selector {
    display: flex;
    align-items: center;
    font-family: "Poppins";
    font-weight: 600;
    margin: 0;
    font-size: 20px;
    color: #333333;
    text-transform: capitalize;
    flex-direction: column;
  }
  select {
    border: 10px;
    border-radius: 20px;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    padding: 20px;
    width: 500px;
    font-weight: 300;
    display: flex;
    height: 55px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
  }
  .header-language {
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
  }
  .box,
  .box2 {
    position: relative;
    height: 300px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 80vw;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 0;
    justify-content: center;
  }
}
@media only screen and (max-width: 1008px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 1;
    align-items: center;
  }
  .header-language {
    width: 100%;
    flex-direction: column;
  }
  .box,
  .box2 {
    width: 80vw;
  }
}

@media only screen and (max-width: 500px) {
  select {
    width: auto !important;
  }
}

nav .footer {
  justify-content: flex-start;
  align-items: center;
  margin-left: 55px;
  margin-right: 55px;
  text-align: center;
  padding: 15px;
  bottom: 0;
}
nav .footer a {
  padding: 10px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: white;
  align-items: center;
}
nav .footer a:hover {
  color: rgb(0, 0, 0);
  transition: 0.3s ease;
}
nav .footer span {
  padding: 10px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: white;
  align-items: center;
}

.word-span {
  cursor: pointer;
  font-size: 24px;
}

.word-span:hover {
  background-color: lightblue;
}