html {
  margin: 0;
  font-family: "Poppins", sans-serif;
  height: 100vh;
}
body::-webkit-scrollbar {
  display: none;
  overflow: hidden;
}

body {
  margin: 0;
}

nav {
  width: 100%;
  position: sticky;
  background-color: #87ceeb;
  box-shadow: 0px 0px 10px rgba(54, 54, 54, 0.1);
}
nav .logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
nav .logo img {
  width: 120px;
  margin-left: 55px;
}
nav .logo span {
  font-size: 20px;
  margin-left: 55px;
  font-family: "Poppins", sans-serif;
  color: white;
  align-items: center;
  font-weight: 700;
}

.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: white;
  transition: all 0.5s ease;
  border-left: #87ceeb 0.5px solid;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 250px;
  transform: translateX(100%);
  z-index: 1;
  margin-top: 65px;
}

.sidebar.open {
  transform: translateX(0); /* Bring sidebar into view */
}

.main-content.open {
  margin-right: 200px;
}

.sidebar .top-iconsheader {
  display: flex;
  width: 100%;
  height: 65px;
  align-items: center;
  border-bottom: #87ceeb 0.5px solid;
}
.sidebar .top-icons {
  width: 75%;
}
.sidebar .top-close {
  width: 15%;
  position: absolute;
  right: 0;
}
.sidebar .top-icons img {
  margin-left: 20px;
}
.sidebar .sidebar-header {
  width: 100%;
  border-bottom: #87ceeb 0.5px solid;
}

.sidebar .sidebar-headerclear {
  display: flex;
  width: 100%;
  align-content: left;
  justify-content: flex-end;
  border-bottom: #87ceeb 0.5px solid;
}

.main-content {
  margin-bottom: 0; /* Remove any bottom margin */
  display: flex;
  align-items: flex-start;
  height: 100vh;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: flex-start;
  margin-right: 0;
  transition: margin-right 0.5s ease;
  background-color: #fffafa;
}

#error-message {
  display: none;
}
.container {
  display: flex;
  flex-direction: row;
  width: 80%;
}
.box {
  position: relative;
  height: 300px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 45vw; /* Adjust width for larger screens */
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.box2 {
  position: relative;
  height: 300px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;

  align-items: center;
  padding: 20px;
  width: 45vw; /* Adjust width for larger screens */
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #333333;
  margin-left: 10px;
}

.upload-icon {
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.upload-icon img {
  width: 100px; /* Adjust the width as needed */
  margin-bottom: 10px;
}
.details {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: white;
  color: white;
}

.upload-file {
  border: 2px dashed #ccc; /* Initial border style */
  border-radius: 10px; /* Optional: Round corners */
  padding: 20px; /* Optional: Add padding for better visibility */
  transition: border 0.3s ease; /* Smooth transition for border change */
  height: 100%;
  z-index: 1;
}

.upload-file.dragover {
  border: 2px dashed #87ceeb; /* Change border color when dragging over */
  background-color: rgba(
    135,
    206,
    235,
    0.1
  ); /* Optional: Light up the background */
  box-shadow: 0px 0px 10px rgba(135, 206, 235, 0.5); /* Optional: Add box shadow */
}
.translate-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #87ceeb;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  margin-bottom: 10px;
  margin-top: 70px;
}
.header button {
  margin-right: 10px;
  background-color: white;
  color: #6495ed;
  padding: 10px 20px;
  border-color: #d3d3d3;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 15px;
}
.header button img {
  vertical-align: middle;
}

.header-downloadfile-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  border: 2px #ccc; /* Add border style here */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.header-downloadfile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 5px;
  display: none;
}
.header-downloadfile button {
  background-color: #fffafa;
  color: #6495ed;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  border: none;
  margin-right: 60px;
  vertical-align: middle;
}

.header-language {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
}

.language-selector-wrapper {
  display: flex;
  width: 50%;

  padding: 5px;
  justify-content: flex-start;
}
.language-selector {
  display: flex;
  align-items: center;
}

.language-selector span {
  margin-left: 5px;
}
.language-selector .label1 {
  font-weight: 700;
}

.language-selector span:hover {
  background-color: #e0e0e0; /* Adjust this color to your preference */
  padding: 10px; /* Add optional padding for better visual separation */
  border-radius: 2px; /* Add optional rounded corners for a smoother effect */
  cursor: pointer;
}
.language-selector span.active {
  text-decoration: underline; /* Add underline to clicked spans */
}
.language-selector img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.language-selector label {
  margin: 0;
  font-size: 16px;

  color: #333333;
}

.upload-icontext {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.upload-icontext img {
  width: 30px;
  height: 30px;
  padding: 10px;
}
.header-downloadfile button img {
  vertical-align: middle;
  margin-right: 2px;
}
.browse-files-button {
  width: 100%;
  background-color: #87ceeb;
  color: white;
  border-color: #d3d3d3;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1em;
  padding-left: 100px; /* Increase padding on the left side */
  padding-right: 100px; /* Increase padding on the right side */
}

.filetype {
  font-size: 10px;
  align-self: flex-start;
}

.robot-section {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  position: absolute;
  bottom: 0;
}

.options {
  display: flex;
  height: 100%;
  margin-left: 10px;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 0.8em;
}

.custom-textfield {
  resize: none;
  border-radius: 10px;
  font-size: 16px;
  background-color: var(--light);

  width: 500px;
  height: 100px; /* Adjust the height as needed */
  vertical-align: top;
  overflow-y: auto; /* Add scrollbars when content exceeds the height */
  color: #181a1e;
}
