/*--text: #0b0404;
--background: #f9f0f0;
--primary: #6a2a2a;
--secondary: #fcb1b1;
--accent: #923a3a; */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --light: #f9f0f0;
    --primary: #6a2a2a;
    --secondary: #fcb1b1;
    --light-primary: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #363949;
    --danger: #D32F2F;
	--light-danger: #000;
    --warning: #FBC02D;
    --light-warning: #FFF2C6;
    --success: #388E3C;
    --light-success: #BBF7D0;
    --test: #fccdcd;
    --accent: #923a3a; 
    --background: #f9f0f0;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.bx .fa{
    font-size: 1.7rem;
}

.fa {
    padding: 20px;
}
a{
    text-decoration: none;
}

li{
    list-style: none;
}

html{
    overflow-x: hidden;
}

body.dark{
    --light: #181a1e;
    --grey: #25252c;
    --dark: #fbfbfb
}

body{
    background: var(--background);
    overflow-x: hidden;

}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    background: var(--test);
    width: 230px;
    height: 100%;
    z-index: 2000;
    overflow-x: hidden;
    scrollbar-width: none;
    transition: all 0.3s ease;
}

.sidebar::-webkit-scrollbar{
    display: none;
}

.sidebar.close{
    width: 60px;
}

.sidebar .logo{
    font-size: 40px;
    font-weight: 700;
    height: 56px;
    display: flex;
    align-items: center;
    color: var(--primary);
    z-index: 500;

    box-sizing: content-box;
}

.sidebar .logo .logo-name span{
    color: var(--light);
}

.sidebar .logo .bx .fa{
    min-width: 60px;
    display: flex;
    justify-content: center;
    font-size: 2.2rem;
}

.sidebar .side-menu{
    width: 100%;
    margin-top: 48px;
}

.sidebar .side-menu li{
    height: 48px;
    background: transparent;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    padding: 4px;
}

.sidebar .side-menu li.active{
    background: beige;
    position: relative;
}

.sidebar .side-menu li.active::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -40px;
    right: 0;
    box-shadow: 20px 20px 0 var(--grey);
    z-index: -1;
}

.sidebar .side-menu li.active::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: -40px;
    right: 0;
    box-shadow: 20px -20px 0 var(--light);
    z-index: -1;
}

.sidebar .side-menu li a{
    width: 100%;
    height: 100%;
    background: beige;
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: var(--dark);
    white-space: nowrap;
    overflow-x: hidden;
    transition: all 0.3s ease;
}

.sidebar .side-menu li.active a{
    color: var(--test);
}

.sidebar.close .side-menu li a{
    width: calc(48px - (4px * 2));
    transition: all 0.3s ease;
}

.sidebar .side-menu li a .bx{
    min-width: calc(60px - ((4px + 6px) * 2));
    display: flex;
    font-size: 1.6rem;
    justify-content: center;
}

.sidebar .side-menu li a.logout{
    color: var(--danger);
}

.content{
    position: relative;
    width: calc(100% - 230px);
    left: 230px;
    transition: all 0.1s ease;
}

.sidebar.close~.content{
    width: calc(100% - 60px);
    left: 60px;
}

.content nav{
    height: 56px;
    background: var(--test);
    padding: 0 24px 0 0;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    
}

.content nav::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -40px;
    left: 0;
    border-radius: 50%;
    box-shadow: -20px -20px 0 var(--test);
   
}

.content nav a{
    color: var(--dark);
}

.content nav .bx.bx-menu {
   
    cursor: pointer;
    color: var(--dark);
    width: 50px;
    font-size: 30px;
}

.content nav form{
    max-width: 400px;
    width: 100%;
    margin-right: auto;
}

.content nav form .form-input{
    display: flex;
    align-items: center;
    height: 36px;
}

.content nav form .form-input input{
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    background: var(--grey);
    border-radius: 36px 0 0 36px;
    outline: none;
    width: 100%;
    color: var(--dark);
}

.content nav form .form-input button{
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary);
    color: var(--light);
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
}

.content nav .notif{
    font-size: 20px;
    position: relative;
}

.content nav .notif .count{
    position: absolute;
    top: -6px;
    right: -6px;
    width: 20px;
    height: 20px;
    background: var(--danger);
    border-radius: 50%;
    color: var(--light);
    border: 2px solid var(--light);
    font-weight: 700;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content nav .profile img{
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
}

.content nav .theme-toggle{
    display: block;
    min-width: 50px;
    height: 25px;
    background: var(--grey);
    cursor: pointer;
    position: relative;
    border-radius: 25px;
}

.content nav .theme-toggle::before{
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: calc(25px - 4px);
    background: var(--primary);
    border-radius: 50%;
    transition: all 0.3s ease;
}

.content nav #theme-toggle:checked+.theme-toggle::before{
    left: calc(100% - (25px - 4px) - 2px);
}

.content main{
    width: 100%;
    padding: 36px 24px;
    max-height: calc(100vh - 56px);
}

.content main .header{
    display: flex;
    align-items: center;
 
    grid-gap: 16px;
    flex-wrap: wrap;
}

.content main .header .left h1{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--dark);
}

.content main .header .left .breadcrumb{
    display: flex;
    align-items: center;
    grid-gap: 16px;
}

.content main .header .left .breadcrumb li{
    color: var(--dark);
}

.content main .header .left .breadcrumb li a{
    color: var(--dark-grey);
    pointer-events: none;
}

.content main .header .left .breadcrumb li a.active{
    color: var(--primary);
    pointer-events: none;
}

.content main .header .report{
    height: 36px;
    padding: 0 16px;
    border-radius: 36px;
    background: var(--primary);
    color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    font-weight: 500;
}

.content main .insights{
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 24px;
    margin-top: 36px;
    pointer-events: none;
    
    
}


.content main .insights li{
    margin-left: 70px;
    width: 500px;
    height: 200px;
    padding: 20px;
    background: var(--secondary);
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    cursor: pointer;
}



.content main .insights li:nth-child(1){
    background-image: url('images/li3.png');
    background-size: 150px 250px;
    background-repeat: no-repeat;
    background-position: right;
    
    
}

.content main .insights li:nth-child(2){
    background-image: url('images/li2.png');
    background-size: 150px 250px;
    background-repeat: no-repeat;
    background-position: right;
    
}



.content main .insights li:nth-child(1) .bx{
    

    background: var(--light-primary);
    color: var(--primary);
}

.content main .insights li:nth-child(2) .bx{
    background: var(--light-warning);
    color: var(--warning);
}

.content main .insights li:nth-child(3) .bx{
    background: var(--light-success);
    color: var(--success);
}

.content main .insights li:nth-child(4) .bx{
    background: var(--light-danger);
    color: var(--danger);
}

.content main .insights li .info h3{
    text-align: center;
    margin-left: 50px;
    font-size: 30px;
    font-weight: 800;
    color: var(--dark);
 
}

.content main .insights li .info p{
    font-weight: 900;
    font-size: 25px;
    color: var(--light);
    padding: 10px; /* Spacing around the text */

}


.content main .bottom-data{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 24px;
    width: 100%;
    color: var(--accent);
}



.content main .bottom-data>div{
    flex: 1;
    border-radius: 20px;
    background: var(--test);
    padding: 24px;
}

.content main .bottom-data .header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.content main .bottom-data .header h3{
    margin-top: 40px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

.content main .bottom-data .translator{
    width: 100%;

}

.center-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Put the image below the content */
    max-width: 100%;
    max-height: 100%;
}

.content main .bottom-data .orders .header .description {
    text-align: center;
    margin-bottom: 10px;


}

.custom-textfield {
    
    border-radius: 10px;
    font-size: 16px;
    background-color: var(--light);
    
    width: 500px;
    height: 100px; /* Adjust the height as needed */
    vertical-align: top;
    overflow-y: auto; /* Add scrollbars when content exceeds the height */
    color:#181a1e;
}

.customtextfield {
    
    border-radius: 20px;
    font-size: 16px;
    background-color: var(--light-primary);
    width:640px;
    height: 100px; /* Adjust the height as needed */
    vertical-align: top;
    overflow-y: auto; /* Add scrollbars when content exceeds the height */
    color:#181a1e;
}
.content main .bottom-data .translator .textfield {
    height: 100px;
    width: 500px;
    margin-bottom: 20px;
}
.content main .bottom-data .header button{
    background: linear-gradient(90deg, rgba(247,183,183,1) 0%, rgba(252,177,177,1) 37%, rgba(250,114,114,1) 100%);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 2px;
    padding-left: 50px;
    padding-right: 20px;
    margin-top: 10px;
    color: var(--danger);
    border-radius: 200px;
    border: none;
    font-size: 25px;
    font-weight: 500;
    

}


.content main .bottom-data .header .bx{
    cursor: pointer;
}

.content main .bottom-data .orders{
    flex-grow: 1;
    flex-basis: 500px;
    margin-bottom: 50px;
}

.content main .bottom-data .orders h2{
   color: var(--primary);
}

.content main .bottom-data .orders table{
    width: 100%;
    border-collapse: collapse;
}

.content main .bottom-data .orders table th{
    padding-bottom: 12px;
    font-size: 13px;
    text-align: left;
    border-bottom: 1px solid var(--dark);
}

.content main .bottom-data .orders table td{
    padding: 16px 0;
}

.content main .bottom-data .orders table tr td:first-child{
    display: flex;
    align-items: center;
    grid-gap: 12px;
    padding-left: 6px;
}

.content main .bottom-data .orders table td img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.content main .bottom-data .orders table tbody tr{
    cursor: pointer;
    transition: all 0.3s ease;
}

.content main .bottom-data .orders table tbody tr:hover{
    background: var(--grey);
}

.content main .bottom-data .orders table tr td .status{
    font-size: 10px;
    padding: 6px 16px;
    color: var(--light);
    border-radius: 20px;
    font-weight: 700;
}

/*.content main .bottom-data .orders table tr td .status.completed{
    background: var(--success);
}

.content main .bottom-data .orders table tr td .status.process{
    background: var(--primary);
}

.content main .bottom-data .orders table tr td .status.pending{
    background: var(--warning);
}*/

.content main .bottom-data .reminders{
    flex-grow: 1;
    flex-basis: 300px;
}

.content main .bottom-data .reminders .task-list{
    width: 100%;
}

.content main .bottom-data .reminders .task-list li{
    width: 100%;
    margin-bottom: 16px;
    background: var(--grey);
    padding: 14px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content main .bottom-data .reminders .task-list li .task-title{
    display: flex;
    align-items: center;
}

.content main .bottom-data .reminders .task-list li .task-title p{
    margin-left: 6px;
}

.content main .bottom-data .reminders .task-list li .bx{
  cursor: pointer;  
}

.content main .bottom-data .reminders .task-list li.completed{
    border-left: 10px solid var(--success);
}

.content main .bottom-data .reminders .task-list li.not-completed{
    border-left: 10px solid var(--danger);
}

.content main .bottom-data .reminders .task-list li:last-child{
   margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .sidebar{
        width: 200px;
    }

    .content{
        width: calc(100% - 60px);
        left: 200px;
    }

}

@media screen and (max-width: 576px) {
    
    .content nav form .form-input input{
        display: none;
    }

    .content nav form .form-input button{
        width: auto;
        height: auto;
        background: transparent;
        color: var(--dark);
        border-radius: none;
    }

    .content nav form.show .form-input input{
        display: block;
        width: 100%;
    }

    .content nav form.show .form-input button{
        width: 36px;
        height: 100%;
        color: var(--light);
        background: var(--danger);
        border-radius: 0 36px 36px 0;
    }

    .content nav form.show~.notif, .content nav form.show~.profile{
        display: none;
    }

    .content main .insights {
        grid-template-columns: 1fr;
    }

    .content main .bottom-data .header{
        min-width: 340px;
    }

    .content main .bottom-data .orders table{
        min-width: 340px;
    }

    .content main .bottom-data .reminders .task-list{
        min-width: 340px;
    }

}

::selection{
    color: var(--secondary);
    background: #6990F2;
  }

  .container {
    display: flex;
    margin-left: 50px;
}
  .wrapper {
    width: 430px;
    background: #fff;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 7px 7px 12px rgba(0,0,0,0.05);
  }


.custom-button{
    margin-left: 20px;
    width: 100px;
    height: 50px;
   margin-top: 120px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}


  .wrapper header{
    color: #6990F2;
    font-size: 27px;
    font-weight: 600;
    text-align: center;
  }

  .wrapper .upload-file{
    height: 167px;
    display: flex;
    margin: 30px 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: 2px dashed #6990F2;
  }

  .wrapper form{
    border-radius: 50px;
  }

  .text-section {
    width: 700px;
    background: #fff;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.05);
    margin-left: 20px;
}

  select {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
    margin-bottom: 20px;
}

/* Style the select element when it's focused */
select:focus {
    outline: none; /* Remove the default focus outline */
    border-color: #007BFF; /* Change the border color on focus */
}

/* Style the dropdown arrow */
select::-ms-expand {
    display: none; /* Remove the default arrow in IE/Edge */
}

/* Style the dropdown arrow for other browsers */
select::after {
    content: '\25BC'; /* Unicode character for a downward arrow */
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    pointer-events: none;
}


/* STYLES ADDED FOR CONFIRMATION DELETE IN HISTORY */
.delete-window{
    position: absolute;
    width:100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index: 2;
    visibility: hidden;
}

.delete-btn{
    background : #ff3838;
    color: white;
    padding: 0.5em;
    border: none;
    border-radius: 0.5em;
}

.delete-btn:hover{
    cursor: pointer;
    background: #fe4c5a;
}

.confirm-div{
    background: #fccdcd;
    position: absolute;
    left: 45%;
    top: 50%;
    z-index: 3;
    opacity: 100;
    border-radius: 2em;
    padding: 2em;
}

.confirm-btn-div{
    display: flex;
    justify-content: space-evenly;
}

.confirm-btn{
    padding: 1em;
    border-radius: 1em;
    text-align: center;
    cursor: pointer;
}