.acc-info-div{
    background: #fccdcd;
    width: 95%;
    max-width: 1200px;
    min-width: 400px;
    margin: auto;
    border-radius: 1em;
    padding: 1em;
}

h4{
    font-weight: bold;
    display: inline-block;
}

#user-info{
    display: inline-block;
}

.edit-btn{
    padding: .3em 5em;
}

.edit-info-div{
    display: none;
}

.user-input{
    padding: .5em;
    width: 400px;
    height: 40px;
    border: none;
    border-radius: 0.5em;
    display: inline;
}
.user-info-div {
    padding: .5em;
    margin-top: 0.3em ;
    margin-bottom: 0.3em ;
    border: 2px solid #6a2a2a;
    border-radius: 5px;
    background-color: #fff;
    width: 350px;
}
.status{
    display: inline;
    color: red;
}

.edit-submit, .close-btn {
    padding: .5em;
}
.edit-btn, .edit-submit, .close-btn {
    background-color: #f9f0f0;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #775757;
}

.edit-btn:hover, .close-btn:hover, .edit-submit-enabled:hover {
    background-color: #775757;
    transition: 0.3s;
}