.table-container{
    width: 100%;
    margin: auto;
    overflow-x: scroll;
    height:100svh;
}

.users-table{
    margin: auto;
    text-align: center;
    width: 1000px;
    
}
th {
    background-color: #fccdcd;
}
.user-td {
    background-color: #fff;
}
th, td{
    padding: 1em;
    
}

.table-btn{
    color: white;
    border: none;
    border-radius: 1em;
    padding: .5em;
    cursor: pointer;
}
.create-btn{
    width: 100px;
    padding: .7em;
    background: black;
} 
.create-cell, .select-cell{
    border: none;
    text-align:left;
    padding-right: 0;
}

.select-cell{
    padding-left: .3em;
}

.update-user{
    background: blue;

}

.delete-user{
    background: red;
}

.view-user{
    background: rgb(235, 90, 114);
}

.delete-window{
    position: absolute;
    width:100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index: 2;
    visibility: hidden;
}

.delete-btn{
    background : #ff3838;
    color: white;
    padding: 0.5em;
    border: none;
    border-radius: 0.5em;
}

.delete-btn:hover{
    cursor: pointer;
    background: #fe4c5a;
}


.create-window{
    position: absolute;
    width:100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index: 2;
    overflow-y: scroll;
    visibility: hidden; 
}
.create-form-div{
    max-width: 700px;
    min-width: 400px;
    background: #fccdcd;
    position: absolute;
    left: 60%;
    top: 55%;
    transform: translate(-50%, -50%);
    z-index: 3;
    opacity: 100;
    border-radius: 2em;
    padding: 2em;
}


.create-div-header{
    font-size: 2em;
}

.form{
    width: 100%;
    height: 100%;
    position: relative;
}

.input-div{
    margin-top: 1em;
    display: grid;
    grid-template-columns: 100px minmax(250px, 400px);
    gap: 1em;
}

#userType{
    grid-column: 2;
    width: 100%;
    border: none;
}

.typeLabel{
    line-height: 2.5;
}


.admin-input{
    padding: .5em;
    height: 40px;
    border: none;
    border-radius: 0.5em;
}

.admin-submit{
    margin-top: 1em;
    color: white;
    background: blue;
    border: none;
    padding: .5em;
    border-radius: 1em;
    cursor: pointer;
}

.admin-submit:disabled{
    background:gray;
    cursor: default;

}
.close-btn{
    position: absolute;
    right: 30px;
    top: 2em;
    background: red;
    color: white;
    width: 50px;
    height: auto;
    padding: 1em;
    border: none;
    font-weight: bold;
    border-radius: 1em;
    cursor: pointer;
}

.req{
    color: red;
}

.update-window{
    position: absolute;
    width:100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index: 2;
    overflow-y: scroll;
    visibility: hidden; 
}
.update-form-div{
    max-width: 700px;
    min-width: 400px;
    background: #fccdcd;
    position: absolute;
    left: 60%;
    top: 55%;
    transform: translate(-50%, -50%);
    z-index: 3;
    opacity: 100;
    border-radius: 2em;
    padding: 2em;
}

.update-div-header{
    font-size: 2em;
}

.delete-checkbox{
    display: inline;
    width: 40px;
    transform: scale(1.2);
    display: none;
}

.deleteSelectedUsers{
    background : #ff3838;
    color: white;
    padding: 0.5em;
    border: none;
    border-radius: 0.5em;
    display: none;
}

.deleteSelectedUsers:hover{
    cursor: pointer;
    background: #fe4c5a;
}

.deleteRows-btn{
    background : #ff3838;
    color: white;
    padding: 0.5em;
    border: none;
    border-radius: 0.5em;
    margin-left: 1em;
}

.deleteRows-btn:hover{
    cursor: pointer;
    background: #fe4c5a;
}


@media (orientation: portrait){
    .create-form-div{
        width: 400px;
    }
    .input-div{
        margin-top: 1em;
        display: grid;
        grid-template-columns: auto;
        gap: 1em;
    }
}

#search-user{
    margin-left: 10em;
    border-radius: .5em;
    width: 200px;
    height: 30px;
    border: none;
}

#search-form{
    text-align: center;
    position: absolute;

}